{% extends 'base.html' %}

    
      {% block title %}
        {% endblock  %}

        {% block content %}
      <div class="card text-center ">
        <div class="card-header">
          <p>notification pannel</p>
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" href="#">for order click</a>
            </li>
            <li class="nav-item">
              <!--<a class="nav-link" href="#"></a>-->
            </li>
            <li class="nav-item">
              <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>-->
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="row my-5">
          <div class="col-md-3">
            <a class="text-decoration-none text-dark" href="#">
               <div class="card my-card shadow text-center p-3">
                 <h3>Staff <i class="fas fa-shipping-fast"> </i> </h3>
                  <h3>4<h3>
               </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="text-decoration-none text-dark" href="#">
               <div class="card my-card shadow text-center p-3">
                 <h3>Product <i class="fas fa-shipping-fast"> </i> </h3>
                  <h3>4<h3>
               </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="text-decoration-none text-dark" href="#">
               <div class="card my-card shadow text-center p-3">
                 <h3>Order <i class="fas fa-shipping-fast"> </i> </h3>
                  <h3>4<h3>
               </div>
            </a>
          </div>

        </div>
        </div>
      </div>
    </div>

      {% endblock  %}

    
